body {
  background-color: black;
  margin: 0;
}

#member {
  font-family: Helvetica;
  font-size: 5em;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin: auto;
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000');
}


#prompt {
  position: relative;
}

#faceContainer {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#answer {
  outline: 0px solid transparent;
}

#memberFace {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-height: 50%;
  /*min-width: 50%;*/
}

#progress {
  position: fixed;
  font-size: 0.2em;
  top: 0px;
  padding: 1em;
  right: 0px;
}

.greyout {
  opacity: 0.5;
}

@media (max-width: 800px) , (max-height: 400px) {
  #member {
    font-size: 3em;
  }
}

@media (max-height: 250px) {
  #member {
    font-size: 1.5em;
  }
}

